* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
}
header{
  background:rgb(46, 20, 20);
  height: 80px;
  width: 100%;
  position: fixed;
}
header img{
  width: 80px;
  height: 70px;
  position: absolute;
  top: 5px;
  left: 5%;
}
header ul{
  text-align: center;
  color: white;
  margin-top: 5px;
  
}  
.content {

  background-color:white;
  overflow-y: scroll;
}
section figcaption{
  text-align: center;
  animation-name: changeColor;
  animation-duration: 18s;
  animation-iteration-count: infinite;

  
}
@keyframes changeColor {
0%{color: rgb(175, 113, 113);}
20%{color: rgb(0, 132, 255);}
40%{color: rgb(1, 241, 169);}
60%{color: rgb(144, 5, 74);}
80%{color: rgb(180, 171, 0);}
100%{color: rgb(28, 7, 255);}

}
table, th, td {
  border:1px solid black;
}
thead{
  background-color: rgb(208, 251, 251);
}
.container .image-container .image img{
  
  object-fit: cover;
  transition: 0.2s linear;
  border-radius: 0px;
}

.container .image-container .image:hover img{
  transform: scale(1.1);
}

.container .popup-image{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
  z-index: 100 ;
  display: none;
}
.container .popup-image span{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  font-weight: 40px;
  color: aliceblue;
  cursor: pointer;
  z-index: 100;
}
.container .popup-image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #ffff;
  border-radius: 5px;
  width: 350px;
  object-fit: cover;
}

@media (max-width:500px){
  .container .popup-image img{
    width: 95%;
  }
  .carousel .carousel__item img{
    min-width: none;
  }
  header img{
    display: none;
  }
}

.pagination{
  float: right;
}
footer {
  position: fixed;
  width: 100%;
  background-color: rgb(46, 20, 20);
  padding: 10px;
  text-align: center;
  color: #ffffff;
  bottom:0;
}

.carousel {
  position: relative;
}

.carousel__item {
  max-width:100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 5%;
  text-align: center;
  
  padding: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  display: none;
}

.carousel__item--selected {
  display: block;
}

.carousel__nav {
  width: 100%;
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__button {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.carousel__button--selected {
  background: rgba(0, 0, 0, 0.5);
}
